* {
    box-sizing: border-box;
}
  
html {
    font-family: 'Jost', sans-serif;
}
  
body {
    margin: 0;
}
  
header {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 0.5rem;
    background-color: #010440;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}
  
.container {
    width: 90%;
    max-width: 40rem;
    margin: auto;
    text-align: center;
    padding: 1rem;
    margin: 1rem auto;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
}
  
.healthbar {
    width: 100%;
    height: 40px;
    border: 1px solid #575757;
    margin: 1rem 0;
    background: #fde5e5;
}
  
#monster-healthbar {
    background-color: #37A67D;
    width: 100%;
    height: 100%;
    transition: all 300ms ease;
}

#player-healthbar {
    background-color: #37A67D;
    width: 100%;
    height: 100%;
    transition: all 300ms ease;
}
  
#controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
  
button {
    font: inherit;
    border: 1px solid #D9763D;
    background-color: #D9763D;
    color: white;
    padding: 1rem 2rem;
    border-radius: 12px;
    margin: 1rem;
    width: 12rem;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
  
button:focus {
    outline: none;
}
  
button:hover,
button:active {
    background-color: #010440;
    border-color: #010440;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
}
  
button:disabled {
    background-color: #ccc;
    border-color: #ccc;
    box-shadow: none;
    color: #3f3f3f;
    cursor: not-allowed;
}
  
#log {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
#log li {
    margin: 0.5rem 0;
}
  
.log-player {
    color: #010440;
}
  
.log-monster {
    color: #590202;
}
  
.log-damage {
    color: #BF0404;
}
  
.log-heal {
    color: #37A67D;
}
#game-over {
    min-height: 70vh;
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}