@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins',sans-serif;
    background-color: #abc4ff;
    display: flex;
}
.main-section {
    margin: 12.5rem auto;
    display: flex;
    flex-direction: column;
    background-color: #edf2fb;
    max-width: 50rem;
    padding: 3rem;
    border: 2px solid white;
}
header {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    line-height: 1.2;
}
.my-input {
    display: flex;
    flex-direction: column;
}
.input-btn-wraper {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
}
#input-wraper label{
    display: inline-block;
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}
#goals-input {
    padding: 1rem .5rem;
    height: 2.5rem;
    width: 80%;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid lightblue;
    font-size: 1.2rem;
}
#goals-input:focus {
    outline: none;
}
#add-btn {
    padding: .55rem;
    border: none;
    background-color: lightblue;
    font-size: 1.1rem;
    width: 20%;
    cursor: pointer;
}
#todo-wraper {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    font-size: 1.2rem;
    gap: .7rem;
}
#todo-wraper span {
    word-break: break-all;
}
@media screen and (max-width: 800px) 
{
    .input-btn-wraper {
        flex-direction: column;
    }    
    #goals-input {
        width: 100%;
    }
    #add-btn {
        margin-top: 1rem;
        width: 100%;
    }
}