@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins',sans-serif;
    background-color: #abc4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main-section {
    display: flex;
    flex-direction: column;
    background-color: #edf2fb;
    max-width: 50rem;
    padding: 3rem;
    border: 2px solid white;
}
header {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    line-height: 1.2;
}
.my-input {
    display: flex;
    flex-direction: column;
}
.input-btn-wraper {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
}
.input-wraper label{
    display: inline-block;
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}
#goals-input {
    padding: 1rem .5rem;
    height: 2.5rem;
    width: 80%;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid lightblue;
}
#goals-input:focus {
    outline: none;
}
#add-btn {
    padding: .55rem;
    border: none;
    background-color: lightblue;
    font-size: 1.1rem;
    width: 20%;
    cursor: pointer;
}
#todo-wraper {
    padding: 1rem 0;
    font-size: 1.2rem;
}
#complete-btn {
    border: none;
    background-color: gray;
    width: 1.7rem;
    height: 1.7rem;
    margin-right: .3rem;
}