* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
button{
    background-color: rgb(20, 20, 20);
    border: none;
    color: white;
    padding: .5rem 1.4rem;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(32, 32, 32);
}
#side-bar {
    position: fixed;
    background-color: darkcyan;
    z-index: 1000;
    width: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    transition: all 300ms ease;
}
#side-bar ul {
    margin-top: 2rem;
    list-style: none;
}
#side-bar ul a{
    color: white;
    text-decoration: none;
}
#side-bar ul li {
    margin-top: 1rem;
}
#main-section {
    width: 25rem;
    height: 100vh;
    padding: 2rem;
    margin-left: 0;
    transition: margin 300ms ease;
}
#main-section h2{
    margin-top: 2rem;
}
.my-form {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 1rem 0;
}
.my-form input, .my-form select{
    height: 2rem;
    margin-bottom: 1rem;
}
.add-btn {
    margin-bottom: 2rem;
    padding: .7rem 1.5rem;
    position: relative;
}
.add-btn::before {
    content: 'Fill the fileds before prociding';
    background-color: rgb(240, 65, 65);
    position: absolute;
    font-size: 12.5px;
    border-radius: 5px;
    top: 0%;
    left: 115%;
    width: 25ch;
    padding: .5rem;
    transition: opacity 300ms ease;
    opacity: 1;
}
.add-btn::after {
    content: '';
    background-color: rgb(240, 65, 65);
    position: absolute;
    font-size: 12.5px;
    top: 15%;
    left: 110%;
    width: 1px;
    height: 1px;
    padding: .5rem;
    transform: rotate(45deg);
    transition: opacity 300ms ease;
    opacity: 1;
}