* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.my-form {
    display: flex;
    flex-direction: column;
    width: 18rem;
    margin: 2rem 0 1rem 0;
}
.my-form input, .my-form select{
    height: 2rem;
    padding-left: .5rem;
    margin-bottom: 1rem;
}
thead {
    border-bottom: 2px solid white;
}
th {
    font-weight: 600;
}
td, th {
    height: 3.5rem;
    text-align: left;
    padding: .5rem 1rem;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
td {
    background-color: rgb(247, 129, 75);
}