* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    color: white;
}
nav {
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(19, 19, 19);
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
main {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
}
section {
    padding: 1rem;
    width: 70%;
    background-color: rgb(22, 22, 22);
}
aside {
    padding: 1rem;
    width: 30%;
    background-color: rgb(27, 27, 27);
}