* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.background {
    background-color: #ff6d00;
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 100%);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}
.services {
    padding: 5rem 2rem;
    min-height: 100vh;
    width: 100%;
}
.services-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1.7rem;
}
.services-section div{
    flex: 1 1 15rem;
}
.services-section span {
    display: inline-block;
    font-size: lamp(1rem, 5vw, 1.3rem);
    text-transform: uppercase;
    margin-bottom: .35rem;
    color: rgba(255, 255, 255, 0.8);
}
.services-heading {
    font-size: clamp(2.6rem, 5vw, 3.2rem);
    line-height: 1.3;
}
.services-copy {
    font-size: clamp(.65rem, 5vw, 1.1rem);
    line-height: 1.7;
    padding-top: 2rem;
    color: #fdfdfd9c;
}
.underline {
    width: 20%;
    height: .3rem;
    background-color: rgb(255, 255, 255);
    margin: 1rem 0;
}
.main-btn {
    border: 2px solid rgb(53, 42, 42);
    padding: .95rem 2rem;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .75rem;
    margin-top: 1rem;
    letter-spacing: .1rem;
    cursor: pointer;
    transition: all 200ms ease;
}
.main-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 0 black;
}
.cards-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 3rem;
}
.card {
    flex: 1 1 0;
    height: 37rem;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    padding: 2rem 1.2rem 1.2rem 1.5rem;
    transition: all 300ms ease;
}
.card:hover {
    transform: perspective(75em) rotateX(10deg) scale(.95);
    cursor: pointer;
    box-shadow: 0 5px 0 black;
}
.card > * {
    padding-bottom: 1rem;
}
.card img {
    height: 18rem;
    width: 18rem;
}
.card h4 {
    font-size: 1.8rem;
    margin: 1rem 0;
    color: #ff6d00;
}
.card p {
    line-height: 1.7;
}
#pop-up-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms ease;
}
#pop-up-modal.show {
    opacity: 1;
    pointer-events: all;
}
#pop-up-form{
    display: flex;
    flex-direction: column;
    width: clamp(30rem, 50vw, 40rem);
    background-color: #ff6d00;
    border: 2px solid black;
    padding: 2rem;
    position: relative;
    transition: transform 500ms ease;
    transform: scale(0) translateY(50rem);
    z-index: 2;
}
#pop-up-form div{
    display: flex;
    flex-direction: column;
}
#pop-up-form > * {
    margin-bottom: 1.2rem;
}
#pop-up-form h4 {
    font-size: 2.5rem;
    font-weight: 600;
}
#pop-up-form.show {
    transform: scale(1) translateY(0);
    pointer-events: all;
}
label {
    margin-bottom: .3rem;
    font-size: 1.2rem;
}
input {
    height: 2.3rem;
    padding: .5rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid black;
}
#message {
    height: 10rem;
    font-family: 'Poppins',sans-serif;
    padding: .5rem;
    font-size: 1rem;
    resize: none;
    outline: none;
    border: 1px solid black;
}
#send-btn {
    padding: .5rem;
    height: 3rem;
    background-color: #111110;
    font-size: 1.1rem;
    border: none;
    color: white;
    cursor: pointer;
}
#close-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    font-weight: 600;
    font-size: 1.4rem;
    color: black;
    background: transparent;
    border: none;
    cursor: pointer;
}
.close-modal-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
@media screen and (max-width: 1000px) {
    .background {
        height: 180vh;
    }
}
@media screen and (max-width: 800px) {
    .background {
        height: 220vh;
    }
    .services {
        padding: 2rem 1.2rem;
    }
}